extends ../layouts/document

block content
    div.uk-card.uk-card-default.uk-width-1-1.uk-height-1-1.uk-margin-auto
        div.uk-card-media-top
            img.uk-padding-small(src="/src/img/404.jpg")
        div.uk-card-body
            h3.uk-card-title Error 404
            p Page not found !