- var name = `${title ? `${title} - ` : ''}Lib-express`

doctype html
html
    head
        title #{name}

        //- CSS
        link(href="/src/ext/uikit-3.3.1/css/uikit.min.css", rel="stylesheet")

        script(src="/src/ext/uikit-3.3.1/js/uikit.min.js")
        script(src="/src/ext/uikit-3.3.1/js/uikit-icons.min.js")

        //- Addon css
        link(rel="stylesheet", href="/src/css/style.css")
        link(rel="shortcut icon", href="/src/img/nodejs-icon.svg", type="image/x-icon")

    body#app.uk-background-muted.uk-flex.uk-flex-column(style="min-height: 100vh")
        include ./header
        main.uk-padding-small.uk-flex-1
            div.uk-container.uk-container-small.uk-position-relative
                block content
        include ./footer
        script(src="/src/js/login.js")