include ../components/icon

footer
    div.uk-card.uk-card-default.uk-width-auto(uk-scrollspy-class="uk-animation-slide-bottom-medium")
        div.uk-card-header
            div.uk-grid-small.uk-flex-middle(uk-grid)
                div.uk-width-auto
                    img.uk-border(width="24" height="24" src="/src/img/nodejs-icon.svg")

                div.uk-width-expand
                    h4.uk-catd-title.uk-margin-remove-bottom Created by Sukaato 
                    p.uk-text-meta.uk-margin-remove-top Powered by NodeJS and ExpressJS
                div
                    p Follow me on 
                        a(href="https://github.com/Sukaato", target="_blank", rel="noopener noreferrer") 
                            span Gihub 
                            +icon('github')